/* Form */

label,
span {
  width: 100%;
  font-size: 1.15rem;
  color: #a6adb4;
}

.form__input--numeric {
  margin-bottom: 10px;
  display: flex;
  width: calc(100% / 2);
}

.form-inline {
  display: block;
}

.form-inline .form-control {
  width: 100%;
}

.form-inline label {
  margin-bottom: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome */
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.price__icons--euro::before {
  font-family: FontAwesome, Arial, serif;
  position: relative;
  content: '\f153';
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

/* Buttons */

.form__buttons > .btn {
  padding: 0.75rem 0;
  font-size: 18px;
  font-weight: bold;
}


.btn-create {
  color: #fff;
  background-color: rgb(51, 158, 0);
  margin-right: calc(100% / 43);
}

.btn-cancel {
  border: 1px solid black;
  width: calc(100% / 7);
  background-color: #dde5ef;
}
