.items__header {
  display: flex;
  justify-content: space-between;
}

/* Cards */

.items {
  padding: 1em;
  justify-content: center;
}

.item:hover {
  background-color: aliceblue;
}

.item a:hover {
  color: #a6adb4;
}

.item a {
  color: #000;
  text-decoration: none;
}

.item__title {
  text-align: center;
  padding: 8px;
  height: 70px;
}

.item__img {
  padding-bottom: 20px;
}

.item__urgency {
  float: right;
}

.fa-flag {
  padding-left: 4px;
}

@media screen and (min-width: 1024px) {
  .item {
    max-width: 25%;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .item:nth-child(3n) {
    margin-right: 0;
  }
}
