.jumbotron {
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.landing__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 1.5rem;
}

.lead {
  text-align: center;
  padding: 1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 span {
  background: #fff;
  margin: 0 15px;
}
h1:before,
h1:after {
  background: black;
  height: 2px;
  flex: 1;
  content: '';
}
h1.left:after {
  background: none;
}
h1.right:before {
  background: none;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.info-color {
  background-color: #33b5e5 !important;
}

.blue-gradient {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.indigo {
  background-color: #3f51b5 !important;
}
