@import '~bootstrap/dist/css/bootstrap.min.css';

/* Everywhere */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Global */

body {
  margin: 3em;
}

.items__header {
  border-bottom: 1px solid #000;
  padding: 0.75rem 0;
}

.flex {
  display: flex;
}
